@page
@using System.Text.Json
@using QualLMS.Domain.APIModels
@using QualLMS.Domain.Models
@using QualLMS.WebApp.Data
@using static QualLMS.WebApp.Pages.AttendanceModel
@model QualLMS.WebApp.Pages.AttendanceModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext
@{
    if (_httpContext.HttpContext!.Session.GetInt32("IsLogged") == null)
    {
        Response.Redirect("/login", true);
    }
    else
    {
        Model.loginProperties = JsonSerializer.Deserialize<LoginProperties>(_httpContext.HttpContext.Session.GetString("LoginProperties")!);
    }

    string AttendanceURL = string.Empty;
    string NowURL = string.Empty;
    string CheckInURL = string.Empty;
    string CheckOutURL = string.Empty;

    if (Model.loginProperties != null)
    {
        AttendanceURL = Model.BaseURL + "Attendance/list-all-attendance?Id=" + Model.loginProperties!.Id;
        NowURL = Model.BaseURL + "Attendance/todays-attendance?Id=" + Model.loginProperties!.Id;
        CheckInURL = Model.BaseURL + "Attendance/checkin";
        CheckOutURL = Model.BaseURL + "Attendance/checkout";
    }
}

<!-- main-heading -->
<h2 class="main-title-w3layouts mb-2 text-center">Attendance</h2>
<!--// main-heading -->

<section id="carouselSection" class="carousels-section">
    <div class="outer-w3-agile mt-3">
        <div class="w3_agile_map">
            <div class="d-sm-flex justify-content-between map-buttons">
                <button id="checkin-btn" class="w3ls_button bg-success">CheckIn</button>&nbsp;&nbsp;
                <button id="checkout-btn" class="w3ls_button bg-primary">CheckOut</button>
            </div>
        </div>
    </div>
</section>

<div class="outer-w3-agile mt-12">
    <div class="table-responsive">
        <table id="dg" title="My Attendance" class="easyui-datagrid" style="width:100%;height:300px"
            data-options="singleSelect:true,collapsible:true,pagination:true">
        <thead>
            <tr>
                    <th data-options="field:'serial', width:'5%',formatter:serialFormatter">#</th>
                    <th data-options="field:'id', width:'35%'">Attendance Id</th>
                    <th data-options="field:'attendanceDate', width:'20%',align:'center',formatter:formatDate">Attendance Date</th>
                <th data-options="field:'checkIn', width:'20%',align:'center',formatter:formatTime">Check - In</th>
                <th data-options="field:'checkOut', width:'20%',align:'center',formatter:formatTime">Check - Out</th>
            </tr>
        </thead>
    </table>
    </div>
</div>


@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

    <!--Script to get the Attendance Data-->
    <script>
        $.ajax({
            type: 'POST',
            url: '@AttendanceURL',
            contentType: 'application/json',
            success: function (response) {
                $('#dg').datagrid('loadData', response.returnData);
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });


        $.ajax({
            type: 'POST',
            url: '@NowURL',
            contentType: 'application/json',
            success: function (response) {
                if (!response.flag) {
                    $('#checkin-btn').prop('disabled', false);
                    $('#checkin-btn').show();

                    $('#checkout-btn').prop('disabled', true);
                    $('#checkout-btn').hide();
                }
                else
                {
                    var data = response.returnData;
                    if (data.checkOut == null) 
                    {
                        $('#checkout-btn').prop('disabled', false);
                        $('#checkout-btn').show();

                        $('#checkin-btn').prop('disabled', true);
                        $('#checkin-btn').hide();
                    }
                    else
                    {
                        if (data.checkOut != null && data.checkIn != null) 
                        {
                            $('#carouselSection').hide();
                        }
                    }
                }
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });

        $('#checkin-btn').on('click', function () {
            var myObject = {
                appUserId: '@Model.loginProperties.Id',
                attendanceDate: new Date(),
                checkIn: new Date()
            };

            $.ajax({
                type: 'POST',
                url: '@CheckInURL',
                contentType: 'application/json',
                data: JSON.stringify(myObject),
                success: function (response) {
                    if (!response.flag) {
                        alert(response.message);
                    }
                    else 
                    {
                        location.reload();
                    }
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        });

        $('#checkout-btn').on('click', function () {
            var myObject = {
                appUserId: '@Model.loginProperties.Id',
                attendanceDate: new Date(),
                checkOut: new Date()
            };

            $.ajax({
                type: 'POST',
                url: '@CheckOutURL',
                contentType: 'application/json',
                data: JSON.stringify(myObject),
                success: function (response) {
                    if (!response.flag) {
                        alert(response.message);
                    }
                    else {
                        location.reload();
                    }
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        });
    </script>
}