@using System.Text.Json
@using QualLMS.Domain.Models

@model List<Fees>

@{
    var data = JsonSerializer.Serialize(Model);
}

@section StylesAndScripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
}

<h2 class="main-title-w3layouts mb-2 text-center">Fees List</h2>

<div class="form-row">
    <div class="col-md-1 md-3">
        <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#UpdateModal">Add New</a>
    </div>
    <div class="col-md-12 md-3">
        &nbsp;
    </div>
    <div class="col-md-12 md-3">
        <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
    </div>
    @if (ViewBag.IsError != null)
    {
        if (ViewBag.IsError)
        {
            <div class="form-group">
                <div class="alert alert-danger" role="alert">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            </div>
        }
    }
    @if (ViewBag.IsSuccess != null)
    {
        if (ViewBag.IsSuccess)
        {
            <div class="form-group">
                <div class="alert alert-success" role="alert">
                    @Html.Raw(ViewBag.SuccessMessage)
                </div>
            </div>
        }
    }
</div>

<!-- basic modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add/Edit Fees</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/AddFees">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FeesName">Fees Name</label>
                        <input type="hidden" class="form-control" id="FeesId" name="FeesId">
                        <input type="text" class="form-control" id="FeesName" name="FeesName" placeholder="Fees Name is mandatory" required="">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            console.log("ready!");
            var model = @Html.Raw(data);

            let gridApi;

            // Grid Options: Contains all of the data grid configurations
            var gridOptions = {
                suppressRowTransform: true,
                autoSizeStrategy: {
                    type: 'fitCellContents'
                },
                overlayNoRowsTemplate:
                    '<span style="padding: 10px; border: 2px solid #444; background: lightgoldenrodyellow; color: red;">No Data Available</span>',
                // Row Data: The data to be displayed.
                rowData: model,
                // Column Definitions: Defines the columns to be displayed.
                columnDefs: [
                    { headerName: 'ID', field: 'Id', pinned: "left" },
                    { headerName: 'FeesName', field: 'FeesName', pinned: "left" },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            var icon = document.createElement('i');
                            anchor.title = "Edit Fees Details!"
                            anchor.href = '#'; // Replace with your actual URL

                            anchor.setAttribute('data-toggle', 'modal');
                            anchor.setAttribute('data-target', '#UpdateModal');

                            icon.className = 'fa fa-edit'; // Font Awesome class for edit icon

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {
                                console.log(data.Id);
                                $('#FeesId').val(data.Id);
                                $('#FeesName').val(data.FeesName);

                                console.log(document.getElementById("FeesId").value);
                            });

                            return anchor;
                        }
                    },
                    // {
                    //     headerName: '',
                    //     cellRenderer: function (params) {
                    //         var anchor = document.createElement('a');
                    //         var data = params.data;
                    //         var icon = document.createElement('i');

                    //         anchor.title = "SURGERY DETAILS!"
                    //         anchor.href = 'Surgery?Id=' + data.Id; // Replace with your actual URL
                    //         icon.className = 'fa fa-medkit'; // Font Awesome class for edit icon
                    //         icon.style = "color:red";

                    //         anchor.appendChild(icon);
                    //         anchor.addEventListener('click', function (event) {
                    //             // console.log("Surgery?Id=" + data.Id);
                    //             // window.location.href = "Surgery?Id=" + data.Id;
                    //         });

                    //         return anchor;
                    //     }
                    // },
                    // {
                    //     headerName: '',
                    //     cellRenderer: function (params) {
                    //         var anchor = document.createElement('a');
                    //         var data = params.data;
                    //         //console.log(data.IsDischarge);

                    //         var icon = document.createElement('i');
                    //         anchor.title = "ADD DISCHARGE DETAILS!"
                    //         anchor.href = 'addbook?Id=' + data.Id + '&discharge=yes'; // Replace with your actual URL
                    //         icon.className = 'lnr lnr-exit'; // Font Awesome class for edit icon
                    //         icon.style = "color:green";

                    //         anchor.appendChild(icon);
                    //         anchor.addEventListener('click', function (event) {

                    //         });

                    //         return anchor;
                    //     }
                    // }
                ]
            };

            // Your Javascript code to create the data grid
            const myGridElement = document.querySelector('#myGrid');
            gridApi = agGrid.createGrid(myGridElement, gridOptions);

            function getBoolean(id) {
                var field = document.querySelector("#" + id);

                return !!field.checked;
            }

            function getParams() {
                return {
                    allColumns: true,
                };
            }
            window.exportToCsv = function () {
                gridApi.exportDataAsCsv(getParams());
            };
        });
    </script>
}
