@using System.Text.Json
@using QualLMS.Domain.APIModels
@using QualLMS.Domain.Models
@using QualvationLibrary

@model List<AttendanceData>

@inject LoginProperties login
@inject CustomLogger logger

@{
    var data = JsonSerializer.Serialize(Model);

    Roles CurrentRole = login.Role;

    bool IsError = false;
    string ErrorMessage = "";
    string SuccessMessage = "";

    if (ViewBag.IsError != null)
    {
        IsError = logger.IsError;
        ErrorMessage = logger.ErrorMessage;
    }
    bool IsSuccess = false;
    if (ViewBag.IsSuccess != null)
    {
        IsSuccess = logger.IsSuccess;
        SuccessMessage = logger.SuccessMessage;
    }
}

<h2 class="main-title-w3layouts mb-2 text-center">Attendance</h2>


<div class="form-row">
    <div class="col-md-12 md-3">
        <button id="checkin-btn" class="btn btn-success" name="checkin-btn" onclick="Checkin()">Check In</button>&nbsp;&nbsp;
        <button id="checkout-btn" class="btn btn-primary" name="checkout-btn" onclick="Checkout()">Check Out</button>&nbsp;&nbsp;
    </div>

    <div class="col-md-12 md-3">
        &nbsp;
    </div>
</div>

<div class="form-row">
    <div id="dangerdiv" class="alert alert-danger" role="alert" style="visibility:hidden">
        <p id="dangermsg"></p>
    </div>
    <div id="successdiv" class="alert alert-success" role="alert" style="visibility:hidden">
        <p id="successmsg"></p>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12 md-3">
        <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
    </div>
</div>



@section StylesAndScripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
}

@section Scripts {

    <script>
        function Checkin() {
            console.log("Check-in");
            var currentDateTime = new Date();
            // var offset = currentDateTime.getTimezoneOffset() * 60000; // Convert offset to milliseconds
            // var istOffset = 5.5 * 3600000; // IST offset in milliseconds
            // var istTime = new Date(currentDateTime.getTime() + istOffset - offset);

            var istDate = currentDateTime.toLocaleString('en-US', { timeZone: 'Asia/Kolkata', hour12: false });
            console.log('IST date:', istDate);

            const formData = new FormData();
            formData.append("AppId", '@login.Id')
            formData.append("CurrentDate", istDate)
            formData.append("CheckIn", istDate)

            console.log(formData);

            const url = '@logger.BaseURL' + '/Attendance/CheckIn';

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: formData,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function Checkout() {
            console.log("Check-out");
        }

        $(document).ready(function () {
            console.log("ready!");
            var model = @Html.Raw(data);

            let gridApi;

            // Grid Options: Contains all of the data grid configurations
            var gridOptions = {
                suppressRowTransform: true,
                autoSizeStrategy: {
                    type: 'fitCellContents'
                },
                overlayNoRowsTemplate:
                    '<span style="padding: 10px; border: 2px solid #444; background: lightgoldenrodyellow; color: red;">No Data Available</span>',
                // Row Data: The data to be displayed.
                rowData: model,
                // Column Definitions: Defines the columns to be displayed.
                columnDefs: [
                    { headerName: 'ID', field: 'Id', pinned: "left" },
                    { headerName: 'FeesName', field: 'FeesName', pinned: "left" },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            var icon = document.createElement('i');
                            anchor.title = "Edit Fees Details!"
                            anchor.href = '#'; // Replace with your actual URL

                            anchor.setAttribute('data-toggle', 'modal');
                            anchor.setAttribute('data-target', '#UpdateModal');

                            icon.className = 'fa fa-edit'; // Font Awesome class for edit icon

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {
                                console.log(data.Id);
                                $('#FeesId').val(data.Id);
                                $('#FeesName').val(data.FeesName);

                                console.log(document.getElementById("FeesId").value);
                            });

                            return anchor;
                        }
                    },
                    // {
                    //     headerName: '',
                    //     cellRenderer: function (params) {
                    //         var anchor = document.createElement('a');
                    //         var data = params.data;
                    //         var icon = document.createElement('i');

                    //         anchor.title = "SURGERY DETAILS!"
                    //         anchor.href = 'Surgery?Id=' + data.Id; // Replace with your actual URL
                    //         icon.className = 'fa fa-medkit'; // Font Awesome class for edit icon
                    //         icon.style = "color:red";

                    //         anchor.appendChild(icon);
                    //         anchor.addEventListener('click', function (event) {
                    //             // console.log("Surgery?Id=" + data.Id);
                    //             // window.location.href = "Surgery?Id=" + data.Id;
                    //         });

                    //         return anchor;
                    //     }
                    // },
                    // {
                    //     headerName: '',
                    //     cellRenderer: function (params) {
                    //         var anchor = document.createElement('a');
                    //         var data = params.data;
                    //         //console.log(data.IsDischarge);

                    //         var icon = document.createElement('i');
                    //         anchor.title = "ADD DISCHARGE DETAILS!"
                    //         anchor.href = 'addbook?Id=' + data.Id + '&discharge=yes'; // Replace with your actual URL
                    //         icon.className = 'lnr lnr-exit'; // Font Awesome class for edit icon
                    //         icon.style = "color:green";

                    //         anchor.appendChild(icon);
                    //         anchor.addEventListener('click', function (event) {

                    //         });

                    //         return anchor;
                    //     }
                    // }
                ]
            };

            // Your Javascript code to create the data grid
            const myGridElement = document.querySelector('#myGrid');
            gridApi = agGrid.createGrid(myGridElement, gridOptions);

            function getBoolean(id) {
                var field = document.querySelector("#" + id);

                return !!field.checked;
            }

            function getParams() {
                return {
                    allColumns: true,
                };
            }
            window.exportToCsv = function () {
                gridApi.exportDataAsCsv(getParams());
            };
        });
    </script>
}
