@using QualLMS.Domain.Models
@using QualvationLibrary
@using System.Text.Json
@inject CustomLogger logger;

@model List<Organization>

@{

    var data = JsonSerializer.Serialize(Model);
    string MainURL = string.Empty;
    MainURL = logger.BaseURL + "Organization/all";
}

@section StylesAndScripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
}
<!-- main-heading -->
<h2 class="main-title-w3layouts mb-2 text-center">Attendance</h2>
<!--// main-heading -->

<section id="carouselSection" class="carousels-section">
    <div class="outer-w3-agile mt-3">
        <div class="w3_agile_map">
            <div class="d-sm-flex justify-content-between map-buttons">
                <button id="checkin-btn" class="w3ls_button bg-success" onclick="location.href='/organization/add'">Add Organization</button>&nbsp;&nbsp;
            </div>
        </div>
    </div>
</section>

<div class="outer-w3-agile mt-12">
    <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            console.log("ready!");
            var model = @Html.Raw(data);

            let gridApi;

            // Grid Options: Contains all of the data grid configurations
            var gridOptions = {
                suppressRowTransform: true,
                autoSizeStrategy: {
                    type: 'fitCellContents'
                },
                // Row Data: The data to be displayed.
                rowData: model,
                // Column Definitions: Defines the columns to be displayed.
                columnDefs: [
                    { headerName: 'ID', field: 'Id', pinned: "left" },
                    { headerName: 'UHIDNumber', field: 'UHIDNumber', pinned: "left", filter: true },
                    { headerName: 'HospitalName', field: 'HospitalName', filter: true, floatingFilter: true, suppressMenu: true },
                    { headerName: 'FirstName', field: 'FirstName', filter: true },
                    { headerName: 'LastName', field: 'LastName', filter: true },
                    { headerName: 'Age', field: 'Age', filter: 'agNumberColumnFilter' },
                    { headerName: 'AreaCode', field: 'AreaCode' },
                    { headerName: 'PhoneNumber', field: 'PhoneNumber', filter: true },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            var icon = document.createElement('i');

                            if (data.IsDischarge == false) {
                                anchor.title = "LOGBOOK DETAILS!"
                                anchor.href = 'addbook?Id=' + data.Id; // Replace with your actual URL
                                icon.className = 'fa fa-edit'; // Font Awesome class for edit icon
                            }
                            else {
                                anchor.title = "Already Discharged!"
                                anchor.href = '#'; // Replace with your actual URL
                                icon.className = 'fa fa-edit'; // Font Awesome class for edit icon
                            }

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {
                            });

                            return anchor;
                        }
                    },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;
                            var icon = document.createElement('i');

                            if (data.IsDischarge == false) {
                                anchor.title = "SURGERY DETAILS!"
                                anchor.href = 'Surgery?Id=' + data.Id; // Replace with your actual URL
                                icon.className = 'fa fa-medkit'; // Font Awesome class for edit icon
                                icon.style = "color:red";
                            }
                            else {
                                anchor.title = "Already Discharged!"
                                anchor.href = '#'; // Replace with your actual URL
                                icon.className = 'fa fa-medkit'; // Font Awesome class for edit icon
                                icon.style = "color:red";
                            }

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {
                                // console.log("Surgery?Id=" + data.Id);
                                // window.location.href = "Surgery?Id=" + data.Id;
                            });

                            return anchor;
                        }
                    },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;
                            //console.log(data.IsDischarge);

                            var icon = document.createElement('i');

                            if (data.IsDischarge == false) {
                                anchor.title = "ADD DISCHARGE DETAILS!"
                                anchor.href = 'addbook?Id=' + data.Id + '&discharge=yes'; // Replace with your actual URL
                                icon.className = 'lnr lnr-exit'; // Font Awesome class for edit icon
                                icon.style = "color:green";
                            }
                            else {
                                anchor.title = "View Logbook!"
                                anchor.href = '#'; // Replace with your actual URL
                                icon.className = 'fa fa-eye'; // Font Awesome class for edit icon
                                icon.style = "color:green";
                            }

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {

                            });

                            return anchor;
                        }
                    }
                ]
            };

            // Your Javascript code to create the data grid
            const myGridElement = document.querySelector('#myGrid');
            gridApi = agGrid.createGrid(myGridElement, gridOptions);

            function getBoolean(id) {
                var field = document.querySelector("#" + id);

                return !!field.checked;
            }

            function getParams() {
                return {
                    allColumns: true,
                };
            }
            window.exportToCsv = function () {
                gridApi.exportDataAsCsv(getParams());
            };
        });
    </script>
}
