@using QualLMS.Domain.Models
@using QualvationLibrary
@using System.Text.Json
@inject CustomLogger logger;

@model List<Organization>

@{
    var data = JsonSerializer.Serialize(Model);
}

@section StylesAndScripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
}

<h2 class="main-title-w3layouts mb-2 text-center">Organization List</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active">Add/Edit</li>
    </ol>
</nav>

<section id="carouselSection" class="carousels-section">
    <div class="outer-w3-agile mt-3">
        <div class="w3_agile_map">
            <div class="d-sm-flex justify-content-between map-buttons">
                <button id="checkin-btn" class="w3ls_button bg-success" onclick="location.href='/organization/add'">Add Organization</button>&nbsp;&nbsp;
            </div>
        </div>
    </div>
</section>

<div class="outer-w3-agile mt-12">
    <div id="myGrid" class="ag-theme-quartz" style="height: 500px"></div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            var model = @Html.Raw(data);
            //console.log(model);

            let gridApi;

            // Grid Options: Contains all of the data grid configurations
            var gridOptions = {
                suppressRowTransform: true,
                autoSizeStrategy: {
                    type: 'fitCellContents'
                },
                // Row Data: The data to be displayed.
                rowData: model,
                // Column Definitions: Defines the columns to be displayed.
                columnDefs: [
                    { headerName: 'FullName', field: 'FullName', pinned: "left", filter: true },
                    { headerName: 'EmailId', field: 'EmailId', filter: true },
                    { headerName: 'PhoneNumber', field: 'PhoneNumber', filter: true },
                    { headerName: 'Address', field: 'Address', filter: true },
                    {
                        headerName: 'Domain Name',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            console.log(data.OfficeGeoLocation);

                            var icon = document.createElement('i');
                            anchor.target = "_blank";
                            anchor.title = "Domain Name!"
                            anchor.href = data.DomainName;
                            icon.className = 'fa fa-globe'; // Font Awesome class for edit icon

                            anchor.appendChild(icon);

                            return anchor;
                        }
                    },
                    { headerName: 'PhoneNumber', field: 'PhoneNumber', filter: true },
                    {
                        headerName: 'Geo Location',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            console.log(data.OfficeGeoLocation);

                            var icon = document.createElement('i');
                            anchor.target = "_blank";
                            anchor.title = "GEO LOCATION!"
                            anchor.href = 'https://www.google.com/maps/search/?api=1&query=' + data.OfficeGeoLocation; // Replace with your actual URL
                            icon.className = 'fa fa-link'; // Font Awesome class for edit icon

                            anchor.appendChild(icon);

                            return anchor;
                        }
                    },
                    {
                        headerName: '',
                        cellRenderer: function (params) {
                            var anchor = document.createElement('a');
                            var data = params.data;

                            var icon = document.createElement('i');
                            anchor.title = "Edit Organisaton!"
                            anchor.href = '/organization/add?Id=' + data.Id; // Replace with your actual URL
                            icon.className = 'fa fa-edit'; // Font Awesome class for edit icon

                            anchor.appendChild(icon);
                            anchor.addEventListener('click', function (event) {
                            });

                            return anchor;
                        }
                    }
                ]
            };

            // Your Javascript code to create the data grid
            const myGridElement = document.querySelector('#myGrid');
            gridApi = agGrid.createGrid(myGridElement, gridOptions);

            function getParams() {
                return {
                    allColumns: true,
                };
            }
            window.exportToCsv = function () {
                gridApi.exportDataAsCsv(getParams());
            };
        });
    </script>
}
