@using QualLMS.Domain.Models
@using QualvationLibrary

@inject CustomLogger logger

@{
    Roles Role = Roles.None;
    Enum.TryParse<Roles>(logger.LoginDetails.Role, out Role);
}

<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h1>
            <a href="/">Prospire</a>
        </h1>
        <span>LMS</span>
    </div>
    <div class="profile-bg"></div>
    <ul class="list-unstyled components">
        @switch ((Roles)Role)
        {
            case Roles.Students:
            case Roles.Teachers:
            case Roles.Parents:
                {
                    <li class="active">
                        <a href="/home">
                            <i class="fas fa-th-large"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/attendance">
                            <i class="fas fa-th"></i>
                            Attendance
                        </a>
                    </li>
                    break;
                }
            case Roles.Admin:
            case Roles.SuperAdmin:
                {
                    <li class="active">
                        <a href="/home">
                            <i class="fas fa-th-large"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/StudentCourse">
                            <i class="fa fa-graduation-cap"></i>
                            Student Course(s)
                        </a>
                    </li>
                    <li>
                        <a href="/Receipts">
                            <i class="fas fa-th"></i>
                            Receipts List
                        </a>
                    </li>
                    <li>
                        <a href="#BasicData" data-toggle="collapse" aria-expanded="false">
                            <i class="far fa-file"></i>
                            Basic Data
                            <i class="fas fa-angle-down fa-pull-right"></i>
                        </a>
                        <ul class="collapse list-unstyled" id="BasicData">
                            <li><a href="/course">Course List</a></li>
                            <li><a href="/Fees">Fees List</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/User">
                            <i class="fas fa-laptop"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a href="/attendance">
                            <i class="fas fa-th"></i>
                            Attendance
                        </a>
                    </li>
                    break;
                }
        }
        @if (Role == Roles.SuperAdmin)
        {
            <li>
                <a href="/Organization">
                    <i class="far fa-window-restore"></i>
                    Organization
                </a>
            </li>
        }
    </ul>
</nav>
